.jumbotron{
    background-color: gray;
    color: cyan;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: gray;
    color: cyan;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn{
    background-color: gray;
    color: cyan;
}

.card-venta{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-compra{
    width: 100%;
    border-radius: 0px;
}


.footer-address-icon{
    padding-right: 10px;
}

.content-icon{
    padding-right: 5px;
}